root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = spaces
charset = utf-8

[{.travis.yml}]
indent_style = space
indent_size = 2

[{composer.json}]
indent_style = space
indent_size = 2
