<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Amp\PHPUnit\LoopReset" />
    </listeners>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./lib</directory>
        </whitelist>
    </filter>
</phpunit>
